.body {
    background-color: aliceblue !important;
}
.details{
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin: 10px auto;
}
.my-table{
    display: flex;
    justify-content: space-between;
    direction: rtl;
    margin: 10px auto;
}
.components{
        display: flex;
        flex-direction: row;
}


/* My Components */
card{
    width: 100%;
    display: flex;
    justify-content: center;
}
chart {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* ____________ */


/* Ticket details */
.ticket-details{
    justify-content: space-between !important;
}
.ticket{
    display: flex;
    align-items: center;
}
.ticket span{
  font-family: 'Neo-Sans-Arabic-Bold', sans-serif; 
  font-size: 16px;
  margin-inline-start: 5px;
}
.edit span{
  font-family: 'Neo-Sans-Arabic-Medium', sans-serif; 
  font-size: 14px;

}
/* ____________ */

/* Dropdown */
#selectDropdown{
    width: 100px;
    text-align: center;
    font-family: 'Neo-Sans-Arabic-Medium', sans-serif; 
    border: none;
    outline: none;
}
.styled-select {
    display: block;
    font-size: 16px;
    color: #333;
    padding: 5px;
    width:fit-content;
    border-radius: 5px;
    background-size: 20px;
    outline: none;
}
.language{
    display: flex;
    justify-content: center;
}
/* ____________ */


@media screen and (min-width: 300px) {
    .my-table{
        max-width: 450px;
        /* align-items: center; */
    }
    .details {
        max-width: 400px;
    }
    .components{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 640px) {
    
    .my-table {
        max-width: 640px;
    }
    .details {
        max-width: 640px;
    }
    .components{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 768px) {
    .my-table {
        max-width: 768px;
    }
    .details {
        max-width: 768px;
    }
    .components{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 1024px) {
    .my-table {
        max-width: 1024px;
    }
    .details {
        max-width: 1024px;
    }
    .components{
        display: flex;
        flex-direction: column;
    }
    
}
@media (min-width: 1280px) {
    .my-table {
        max-width: 1280px;
    }
    .details {
        max-width: 1280px;
    }
    .components{
        display: flex;
        flex-direction: row;
    }
    card{
        width: 40%;
        display: flex;
        justify-content: center;
    }
    chart {
        width: 60%;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 1380px) {
    .my-table {
        max-width: 1380px;
    }
    .details {
        max-width: 1380px;
    }
    .components{
        display: flex;
        flex-direction: row;
    }
    card{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    chart {
        width: 70%;
        display: flex;
        justify-content: center;
    }
}
@media (min-width: 2500px) {
    .my-table {
        max-width: 2500px;
    }
    .details {
        max-width: 2500px;
    }
    card{
        width: 30%;
        display: flex;
        justify-content: center;
    }
    chart {
        width: 70%;
        display: flex;
        justify-content: center;
    }
}