<section class="body" [style.direction] = "direction" style="background-color: aliceblue !important;">
    <section class="language" >
        <div>
            <select (change)="onLanguageChange($event)" id="selectDropdown"> 
                <option id="ar"> <span class="active">عربي</span></option>
                <option id="en"><span>English</span></option>
            </select>
        </div>
    </section>
    <section class="details ticket-details" [style.direction] = "direction">
        <div class="ticket" >
                <span><i class="fa-solid fa-arrow-{{direction=='rtl' ? 'right' : 'left'}}"></i></span>
                <span> {{data.ticket}} #2342 </span>
        </div>
        <div class="edit">
            <span ><i class="fa-solid fa-pen-to-square" style="color: #8a74f9;"></i></span>
            <span> {{data.edit}} </span>
        </div>
    </section>
    <section class="details components"[style.direction] = "direction">
            <chart></chart>
            <card></card>
    </section>
    <app-my-table class="my-table" style="flex-direction: column;"></app-my-table>
</section>