@font-face {
  font-family: 'Neo-Sans-Arabic-Bold';
  src: local('Neo-Sans-Bold'), url('./assets/Fonts/NotoSansArabic-Bold.ttf') format('woff2');
}
@font-face {
  font-family: 'Neo-Sans-Arabic-Light';
  src: local('Neo-Sans-Light'), url('./assets/Fonts/NotoSansArabic-Light.ttf') format('woff2');
}
@font-face {
  font-family: 'Neo-Sans-Arabic-Medium';
  src: local('Neo-Sans-Medium'), url('./assets/Fonts/NotoSansArabic-Medium.ttf') format('woff2');
}
canvas {
  font-family: 'Neo-Sans-Arabic-Light', sans-serif; 
}
body { 
  margin: 0; 
  font-family: Neo-Sans-Arabic-Medium, "Helvetica Neue", sans-serif; 
}
p-chart > div > canvas{
  height: 157px !important;
  font-family: 'Neo-Sans-Arabic-Medium', sans-serif; 
}
ngb-pagination > ul > li.page-item.active .page-link{
  color: white !important;
  background-color: #8A74F9 !important;
  border-radius: 4.5px !important;
}
button.mat-mdc-tooltip-trigger.mat-mdc-paginator-navigation-next,
button.mat-mdc-tooltip-trigger.mat-mdc-paginator-navigation-previous
{
  display: none;
}

